@media (max-width: 1200px) {

    .container {
        width: 900px;
    }

}

@media(max-width: 992px) {
    .container {
        width: 700px;
    }


}

@media (max-width: 768px) {
    .container {
        width: 500px;
    }

    .promo {
        &__nav {
            font-size: 9px;
            gap: 10px;
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 12px;
        }
    }

    .best {


        &__box {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: auto;
        }
        #pad {
            margin-bottom: 20px;
        }
    }



}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }


}
